section {
    color: white;
}

section>article>div {
    display: flex;
    flex-flow: row nowrap;
}

section>article>div>div {
    width: 75%;
}

section>article p {
    width: 70%;
}

section>article label {
    margin: auto;
}