<main>
    <section [style.background-color]="mServ.menu.couleurGauche.code">
        <h1>{{ mServ.menu.titre }}</h1>
        <article *ngFor="let a of mServ.page">
            <h2>{{ a.titre }}</h2>
            <blockquote *ngIf=" a.intro ">{{ a.intro }}</blockquote>
            <button (click)="toolsServ.showArticle(a.contenu)">Lire la suite</button>
        </article>
    </section>
    <section [style.background-color]="mServ.menu.couleurDroite.code" [style.background-image]="'url(' + (mServ.menu.medias[0].url | mediaPipe) + ')'">
    </section>
</main>
<app-plus [infos]="toolsServ.article" *ngIf="toolsServ.article"></app-plus>