<main>
    <section [style.background-color]="mServ.menu.couleurGauche.code">
        <h1>{{ mServ.menu.titre }}</h1>
        <article *ngFor="let a of mServ.page">
            <h2>{{ a.titre }}</h2>
            <blockquote>{{ a.intro }}</blockquote>
            <button class="accordeon droite">Lire la suite</button>
            <div [innerHtml]="a.contenu | mark" class="panneau"></div>
        </article>
    </section>
    <section [style.background-color]="mServ.menu.couleurDroite.code"></section>
</main>