<main>
    <section [style.background-color]="mServ.menu.couleurGauche.code">
        <h1>{{ mServ.menu.titre }}</h1>
        <form #f="ngForm">
            <label>
                Votre nom* :
                <input name="nom" type="text" [(ngModel)]="contact.nom" required #nom="ngModel" placeholder="Merci de renseigner votre nom">
                <span *ngIf="nom.pristine || nom.hasError('required')">Avez-vous un nom ?</span>
            </label>
            <label>
                votre e-mail* :
                <input name="mail" type="email" [(ngModel)]="contact.mail" required #mail="ngModel" placeholder="Merci de renseigner un email">
                <span *ngIf="mail.invalid && (mail.dirty || mail.touched)">Le format de votre e-mail semble incorrect</span>
                <span *ngIf="mail.pristine || mail.hasError('required')">Merci de saisir un e-mail</span>
            </label>
            <label>
                Sujet de votre message
                <input name="sujet" type="text" [(ngModel)]="contact.sujet" #sujet="ngModel" required placeholder="De quoi voudriez-vous nous parler ?">
                <span *ngIf="sujet.pristine || sujet.hasError('required')">Merci de saisir un sujet</span>
            </label>
            <label>
                Votre message* :
                <textarea name="message" required #message="ngModel" [(ngModel)]="contact.message"  placeholder="Merci pour votre message"></textarea>
                <span *ngIf="message.pristine || message.hasError('required')">Votre message devrait contenir un message</span>
            </label>
            <div>
                <input type="submit" value="ENVOYER" (click)="envoyer()" [disabled]="f.invalid" class="vert">
                <input type="reset" value="ANNULER" class="rouge">
            </div>

        </form>
    </section>
    <section [style.background-color]="mServ.menu.couleurDroite.code">

    </section>
</main>