<header class="logo">
    <div>
        <img src="assets/images/es.png" (click)="mServ.setLangue('es')">
        <img src="assets/images/fr.png" (click)="mServ.setLangue('fr')">
        <img src="assets/images/pt.png" (click)="mServ.setLangue('pt')">
    </div>
    <a href routerLink="/" title="VInCI">
        <img src="assets/images/Logo_VinCi_nb_web.png" title="Projet VInCI" alt="Logo du projet VInCI" />
    </a>

<nav>
<ul>
    <li *ngFor="let m of (mServ.menus | menusPipe:'principal' | slice:1)">
        <a href [routerLink]="m.chemin" [title]="m.titre">
            <i [class]="'fas ' + m.icone"></i>{{ m.titre }}
        </a>
    </li>
</ul>
</nav>
</header>
<nav>
<ul>
    <li *ngFor="let p of (mServ.menus | menusPipe:'pied')">
        <a href [routerLink]="p.chemin" [title]="p.titre">
            <i [class]="'fas ' + p.icone"></i>
        </a>
    </li>
</ul>
</nav>