header {
    height: calc(100vh - 40px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

header::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

header::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

header::-webkit-scrollbar-thumb {
    background-color: #28364A;
}

header>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 10px 0;
    padding: 0 5px;
}

header>div>img {
    width: 20%;
    cursor: pointer;
}

header>a {
    /* display: block; */
    margin: 10px auto;
}

header a > img {
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 4px;
    font-size: 11px;
    text-align: center;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

ul li {
    display: flex;
    justify-content: space-around;
}

header>nav ul {
    height: calc(80vh - 40px);
    padding-top: 20px;
    flex-flow: column nowrap;
}

header>nav li {
    margin-bottom: 20px;
}

header>nav li a {
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
}

header>nav li a:hover li {
    transform: rotate(180deg);
}

header>nav li a i {
    font-size: 36px;
    margin-bottom: 3px;
}

a:hover {
    padding-left: 0;
}

nav:nth-child(2) {
    height: 40px;
    padding: 5px;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav:nth-child(2) li {
    margin: 5px auto;
}

.mobile,
header>i {
    display: none;
}

@media (max-width: 980px) {
    header {
        height: 100px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    header>div {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 10px;
        width: 15px;
        height: 40%;
    }
    header>div>img {
        width: 15px;
        margin: 5px;
    }
    header>a {
        margin: 0 10px;
    }
    header>a>img {
        width: auto;
        height: 85px;
    }
    header>nav {
        position: fixed;
        top: 100px;
        right: 0px;
        width: 100vw;
        height: calc(100vh-100px);
        background-color: #28364A;
        display: flex;
        animation-duration: .4s;
        animation-name: slideout;
        display: none;
    }
    header>nav ul {
        flex-flow: row wrap;
        margin: auto;
        height: auto;
        justify-content: center;
    }
    header>nav li {
        margin: 20px;
        height: 75px;
    }
    nav:nth-child(2) {
        position: fixed;
        bottom: 0;
        right: 0px;
        padding: 10px 16px;
        background-color: #28364A;
        width: 100px;
        height: auto;
    }
    button.mobile,
    input.mobile {
        width: 100vw;
        height: 100px;
        display: flex;
    }
    header>i {
        display: block;
        font-size: 32px;
        margin: auto;
        position: absolute;
        right: 20px;
    }
    input.mobile {
        display: block;
        opacity: 0;
    }
    input.mobile:checked~nav {
        display: flex;
    }
    input.mobile:checked~i {
        /* display: block; */
    }
}

@media print {
    nav, footer, aside {
      display:none;
    }
    body {
      font-size:120%;
      color:black;
    }
    main>section{
        background:none;
    }
}
