<main>

    <section [style.background-color]="mServ.menu.couleurGauche.code" id="map" class="map">
        <agm-map [latitude]="coord.lat" [longitude]="coord.long" [zoom]="coord.zoom"></agm-map>
    </section>

    <section [style.background-color]="mServ.menu.couleurDroite.code" class="colonne">
        <h1>Partenaires</h1>
        <article *ngFor="let p of mServ.pages[mServ.menu.chemin] | lang:mServ.langue">
            <h2>{{ p.nom }} <span *ngIf="p.acronyme">({{ p.acronyme }})</span></h2>
            <ul>
                <li><em>Statut</em> : {{ p.statut }}</li>
                <li><em>Pays</em> : {{ p.pays }}</li>
                <li><em>Groupe de travail impliqués</em> : {{ p.gt }}</li>
            </ul>
            <span class="separation"></span>
        </article>
    </section>
</main>s