<main>
    <section [style.background-color]="mServ.menu.couleurGauche.code" [style.background-image]="'url(' + (mServ.menu.medias[0].url | mediaPipe) + ')'"></section>
    <section [style.background-color]="mServ.menu.couleurDroite.code">
        <h1>{{ mServ.menu.titre }}</h1>
        <article *ngFor="let a of mServ.page">
            <h2>{{ a.titre }}</h2>
            <blockquote>{{ a.intro }}</blockquote>
            <button (click)="toolsServ.showArticle(a.contenu)">En savoir plus</button>
            <!-- <div [innerHtml]="a.contenu | mark"></div> -->
        </article>
    </section>
</main>
<app-plus [infos]="toolsServ.article" *ngIf="toolsServ.article"></app-plus>