/* Couleurs
Rouge : #D65353
Bleu nuit : #28364A
Crême : #FFEED6
Jaune : #F7C45F
Vert foncé : #2D5C5C

https://any.qodeinteractive.com/split-slider/
*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    overflow: hidden;
    background-color: #202A3A;
}

main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
}

main>section {
    width: 50vw;
    height: 100vh;
    padding: 3% 6%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    color: white;
    overflow-y: auto;
    box-sizing: border-box;
}

main>section:nth-child(1) {
    animation-duration: .4s;
    animation-name: slidein;
}

main>section:nth-child(1) article,
main>section:nth-child(1) h2,
main>section:nth-child(1) h3 {
    /* opacity: 0; 
    animation: .4s slideg;
    animation-delay: .5s;*/
}

main>section:nth-child(2) {
    animation: .4s slideout;
}

main>section:nth-child(2) h2,
main>section:nth-child(2) h3 {
    /* opacity: 0; 
    animation: .4s slideg;
    animation-delay: .5s;*/
}

article,
p {
    /* animation: .4s slideg;
    animation-delay: .75s; */
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

blockquote:before {
    padding-right: 10px;
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    opacity: .5;
}

blockquote:after {
    padding-left: 10px;
    font-family: "Font Awesome 5 Free";
    content: "\f10e";
    opacity: .5;
}

a {
    transition: all .3s ease;
    color: white;
    opacity: .5;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    transform: scale(1.05);
    padding-left: 10px;
}

nav a {
    text-transform: uppercase;
}

main>section>article {
    box-sizing: border-box;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

main>section:nth-child(2) article ul li {
    list-style: circle;
}

main>section article div {
    display: block;
    overflow: hidden;
}


/* SCOLLBARS */

main>section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

main>section::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

main>section::-webkit-scrollbar-thumb {
    background-color: #28364A;
}

section.colonne article {
    margin-bottom: 20px;
    width: 100%;
}

span.separation {
    border-bottom: 1px dashed rgba(0, 0, 0, .5);
    width: 75%;
    margin: 0 -50px;
}


/* CLASSES PERSONNALISATION */

.gauche {
    float: left;
}

.droite {
    float: right;
}

.rouge {
    background-color: #D65353;
}

.noir {
    color: black;
}

.bleu {
    background-color: #28364A;
}

.creme {
    background-color: #FFEED6;
}

.jaune {
    background-color: #F7C45F;
}

.vert {
    background-color: #2D5C5C;
}

.lien {
    align-self: flex-end;
}

div#loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    /* background-color:rgba(255,238,214,.7); */
    background-color: #f5f7f9;
    width: 100%;
    height: 100%;
    display: flex;
}

div#loader img {
    margin: auto;
}

.cache {
    display: none !important;
}


/* ANIMATIONS */

@keyframes slidein {
    from {
        margin-top: 100vh;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes slideout {
    from {
        margin-top: -100vh;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes slideg {
    from {
        margin-left: -20px;
        /* opacity: 0; */
    }
    to {
        margin-left: 0;
        /* opacity: 1; */
    }
}

@keyframes slided {
    from {
        margin-right: -20px;
        /* opacity: 0; */
    }
    to {
        margin-right: 0;
        /* opacity: 1; */
    }
}


/* FORMULAIRES */

button {
    background-color: rgba(0, 0, 0, .2);
    padding: 12px 20px;
    color: white;
    margin: 10px 0;
    transition: background-color .3s ease;
    border: none;
    cursor: pointer;
    width: auto;
    align-self: flex-end;
}

button:hover {
    background-color: rgba(0, 0, 0, .05);
    -webkit-filter: contrast(2);
    filter: contrast(2);
}


/* COMPOSANTS INTERACTIFS */


/* TOGGLE BOUTON */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

form,
label {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 0;
}

input,
textarea {
    padding: 12px;
    margin: 10px;
    /* border: 1px solid rgba(0, 0, 0, .5); */
    border: 0;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

input:focus,
textarea:focus {
    border-color: #28364A;
}

input.ng-invalid,
textarea.ng-invalid {
    border-bottom: 1px solid #D65353;
}

input.ng-valid,
textarea.ng-valid {
    border-bottom: 1px solid #2D5C5C;
}
input[disabled]{
    opacity:0.5;
}
input[disabled]:hover{
    background-color: grey;
}
textarea {
    min-height: 150px;
}

form label>span {
    width: 100%;
    font-style: italic;
    text-align: right;
}

form>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form input[type="submit"],
form input[type="reset"] {
    max-width: 200px;
    border: 0;
    padding: 8px 16px;
    opacity: .8;
    transition: opacity .3s ease;
    color: white;
}

form input[type="submit"],
:hover form input[type="reset"]:hover {
    opacity: 1;
}

input:checked+.slider {
    background-color: #D65353;
}

input:focus+.slider {
    box-shadow: 0 0 1px #D65353;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* MEDIA QUERIES */

@media (max-width: 980px) {
    main {
        padding-top: 100px;
        flex-flow: column;
        overflow-y: auto;
        height: auto;
    }
    body {
        overflow-y: auto;
    }
    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    body::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }
    body::-webkit-scrollbar-thumb {
        background-color: #28364A;
    }
    main>section {
        width: 100%;
        overflow: hidden;
    }
    section.contenu {
        /* min-height:60%; */
        height: auto;
    }
    section.img {
        height: 250px;
    }
}